<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fryan GoAuth</title>
</head>

<body>
  <div id="app">
    <div id="loading">Loading Google API</div>
    <span id="greeting"></span>
    <span id="sign-status"></span>

    <button id="signin-button" onclick="sample.auth.signin()">Log In</button>
    <button id="signout-button" id="" onclick="sample.auth.signout()">Log Out</button>
  </div>
  <script>
    document.getElementById('signout-button').hidden = true
    document.getElementById('signin-button').hidden = true

    window.onload = function () {
      const sample = new FryanGoauth({
        gapiPath: 'https://apis.google.com/js/api.js',
        oAuthConfig: {
          apiKey: '<!-- apiKey -->',
          clientID: '<!-- clicentID -->',
          discoveryDocs: [ 'https://sheets.googleapis.com/$discovery/rest?version=v4' ],
          scopes: [
            'https://www.googleapis.com/auth/drive',
            'https://www.googleapis.com/auth/drive.readonly',
            'https://www.googleapis.com/auth/drive.file',
            'https://www.googleapis.com/auth/spreadsheets',
            'https://www.googleapis.com/auth/spreadsheets.readonly',
            'https://www.googleapis.com/auth/plus.login',
            'profile',
            'email'
          ]
        }
      })
        .afterGapiMounted((gapi) => {
          console.log('[] gapi loaded');
        })
        .afterGapiClientMounted((gapiClient) => {
          console.log('[] gapiclient loaded')
        })
        .oAuthSignedIn(() => {
          console.log('[] goauth signedin');
          document.getElementById('signin-button').hidden = true
          document.getElementById('signout-button').hidden = false
          sample.auth.getUserProfile.then((profile) => {
            document.getElementById('greeting').innerText = 'Hello, ' + profile.name
            document.getElementById('greeting').hidden = false
          })
        })
        .oAuthSignedOut(() => {
          console.log('[] goauth signedout');
          document.getElementById('signin-button').hidden = false
          document.getElementById('signout-button').hidden = true
          document.getElementById('greeting').hidden = true
        })
        .afterOAuthSigned((signedIn) => {
          console.log('[] goauth signed in/out', signedIn);
          document.getElementById('sign-status').innerHTML = signedIn ? 'Already log in' : 'Please log in'
        })
        .then((success) => {
          console.log('success ' + success);
          document.getElementById('loading').hidden = true
        })
        .catch((ers) => {
          console.log('WHY? ' + ers);
        })

      window.sample = sample
    }
  </script>
</html>